.rootHome{
    position: relative;
    background-color: #DAE1E4;
}
.Android{
    position: absolute;
    top: 70%;
    left: 10%;
}
.Apple{
    position: absolute;
    top: 70%;
    left: 25%;
}
.Tittle{
    position: absolute;
    top: 40%;
    left: 14%;
}
.subTittle{

}
.Home img{
    width: 100%;
}